<h1>New Post Form</h1>

<form>
  <label for="title">Title</title>
  <input id="title" name="title">

  <label for="content">Content</label>
  <textarea id="content" name="content"></textarea>

  <button>Create Post</button>
</form>
